{% load static %}
{% block content %}




<footer class="site-footer site-footer__home-two">
    <span class="site-footer__bubble site-footer__bubble-one" style="color:#00beff;"></span>
    <span class="site-footer__bubble site-footer__bubble-two" style="color:#00beff;"></span>
    <span class="site-footer__bubble site-footer__bubble-three" style="color:#00beff;"></span>
    <span class="site-footer__bubble site-footer__bubble-four" style="color:#00beff;"></span>
    <span class="site-footer__bubble site-footer__bubble-five" style="color:#00beff;"></span>
    <div class="site-footer__upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-widget">
 	               </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                <div class="col-lg-2 col-md-6 col-sm-12" style="
                left: 72px;
            ">
                    <div class="footer-widget">
                        <h3 class="footer-widget__title">Keşfet</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links">
                            <li class="footer-widget__links-item"><a href="#services">HİZMETLERİMİZ</a></li><!-- /.footer-widget__links-item -->
                        
			    <li class="footer-widget__links-item"><a href="#faqs">S.S.S</a></li><!-- /.footer-widget__links-item -->
                            <li class="footer-widget__links-item"><a href="#blog">ÇALIŞMALARIMIZ</a></li><!-- /.footer-widget__links-item -->
                            <li class="footer-widget__links-item"><a href="#iletisim">İLETİŞİM</a></li><!-- /.footer-widget__links-item -->
                        </ul><!-- /.footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                <div class="col-lg-2 col-md-6 col-sm-12"style="
                left: 72px;
            ">
                    <div class="footer-widget">
                        <h3 class="footer-widget__title">HİZMETLERİMİZ</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links">
                            <li class="footer-widget__links-item"><a href="#services">WEB TASARIM</a></li><!-- /.footer-widget__links-item -->
                            <li class="footer-widget__links-item"><a href="#services">KURUMSAL YAZILIMLAR</a></li><!-- /.footer-widget__links-item -->
                            <li class="footer-widget__links-item"><a href="#services">CRM SİSTEMLERİ</a></li><!-- /.footer-widget__links-item -->
                            <li class="footer-widget__links-item"><a href="#services">E-TİCARET</a></li><!-- /.footer-widget__links-item -->
                        </ul><!-- /.footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->

                <div class="col-lg-6 col-md-6 col-sm-12" style="
                left: 72px;
            ">
                    <div class="footer-widget">
                        <h3 class="footer-widget__title">İLETİŞİM</h3><!-- /.footer-widget__title -->
                        <ul class="footer-widget__links">
                            <li id="address_footer">İdealtepe Mahallesi Cenkler Sokak No:4/A <br> Maltepe-İstanbul</li>
                            <li id="phone_footer"><a href="tel://+905323963471">0532 396 34 71</a> / <a href="tel://+902163662727">0216 366 27 27</a></li>
                            <li id="email_footer"><a href="#">info@hdbilisimturkiye.com</a></li>
                        </ul><!-- /.footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-2 -->
                
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__upper -->
    {% for sosyal_medya in sosyal_medyalar %}
        <div class="site-footer__bottom">
            <div class="container">
                <hr />
                <div class="inner-container">
                    <p class="site-footer__copy">© copyright 2022 by <a href="https://bilgisayaryazilim.com">HD BİLGİSAYAR YAZILIM</a></p><!-- /.site-footer__copy -->
                    <div class="site-footer__social">
                        <a href="{{ sosyal_medya.facebook }}" class="fa fa-facebook-square"></a>
                        <a href="{{ sosyal_medya.twitter }}" class="fa fa-twitter"></a>
                        <a href="{{ sosyal_medya.instagram }}" class="fa fa-instagram"></a>
                    </div><!-- /.site-footer__social -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.site-footer__bottom -->
    {% endfor %}
</footer><!-- /.site-footer -->


{% endblock content %}
