{% load static %}
{% block content %}

<section class="service-one" id="services">
    <span class="service-one__bubble service-one__bubble-one" style="color:#00beff;"></span>
    <span class="service-one__bubble service-one__bubble-two" style="color:#00beff;"></span>
    <span class="service-one__bubble service-one__bubble-three" style="color:#00beff;"></span>
    <span class="service-one__bubble service-one__bubble-four" style="color:#00beff;"></span>
    <span class="service-one__bubble service-one__bubble-five" style="color:#00beff;"></span>
    {% for hizmet in hizmetler %}

    <div class="container">
        <hr class="service-one__line" />
        <div class="block-title text-center">
            <h2 class="block-title__title">{{hizmet.main_hizmetler_title}}</h2><!-- /.block-title__title -->
        </div><!-- /.block-title -->
        <div class="row">
            
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="service-one__single">
                        <div class="service-one__inner">
                            <a href="#" class="service-one__more-link"><img style="width: 68px;"src="{% static 'images/web-design.png' %}" alt=""></a>

                            <h3 class="service-one__title"><a href="#">{{hizmet.hizmeler_bir}}</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">{{hizmet.hizmetler_bir_aciklama|safe}}</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__inner -->
                    </div><!-- /.service-one__single -->
                </div><!-- /.col-lg-3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="service-one__single">
                        <div class="service-one__inner">
                            <a href="#" class="service-one__more-link"><img style="width: 68px;"src="{% static 'images/kurumsal.png' %}" alt=""></a>

                            <h3 class="service-one__title"><a href="#">{{ hizmet.hizmeler_iki }}</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">{{ hizmet.hizmetler_iki_aciklama|safe }}</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__inner -->
                    </div><!-- /.service-one__single -->
                </div><!-- /.col-lg-3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="service-one__single">
                        <div class="service-one__inner">
                            <a href="#" class="service-one__more-link"><img style="width: 68px;"src="{% static 'images/crm.png' %}" alt=""></a>

                            <h3 class="service-one__title"><a href="#">{{ hizmet.hizmeler_uc }}</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">{{ hizmet.hizmetler_uc_aciklama|safe}}</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__inner -->
                    </div><!-- /.service-one__single -->
                </div><!-- /.col-lg-3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="service-one__single">
                        <div class="service-one__inner">
                            <a href="#" class="service-one__more-link"><img style="width: 68px;"src="{% static 'images/IoT.png' %}" alt=""></a>

                            <h3 class="service-one__title"><a href="#">{{ hizmet.hizmeler_dort }}</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">{{ hizmet.hizmetler_dort_aciklama|safe }}</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__inner -->
                    </div><!-- /.service-one__single -->
                </div><!-- /.col-lg-3 -->
            
        </div><!-- /.row -->
    </div><!-- /.container -->
    {% endfor %}

</section><!-- /.service-one -->






{% endblock content %}








